<nav class="navbar navbar-expand-sm bg-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Game Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/loginuser">SIGN IN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">My cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signupuser">CREATE AN ACCOUNT</a>
        </li>
    </ul>
</nav>
    <p>
      <a href="/home">
      <img src="images/logo.png"alt="J." class="mx-auto d-block mt-2" width="50px" height="50px"/>
      </a>
    </p>
    <nav id="nav" class="navbar navbar-expand-sm bg-white navbar-light justify-content-center py-2 sticky-top">
    <ul class="navbar-nav">
      <li class="nav-item ml-5">
        <div class="dropdown">
          <button class="dropbtn">EA</button>
          <div class="dropdown-content">
            <div class="row">
              <div class="column col-md-3"></div>
              <div class="column col-md">
                <a href="#">The Sims 1</a>
                <a href="#">The Sims 2</a>
                <a href="#">The Sims 3</a>
              </div>
              <div class="column col-md">
                <a href="#">Apex Legends</a>
                <a href="#">Command & Conquer</a>
                <a href="#">FIFA 20</a>
              </div>
              <div class="column col-md">
                <a href="#">BattleField 5</a>
                <a href="#">BattleField 6</a>
                <a href="#">BattleField 7</a>
              </div>
              <div class="column col-md"></div>
              <div class="column col-md-3"></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item ml-3">
        <div class="dropdown">
          <button class="dropbtn">CD Projekt Red</button>
          <div class="dropdown-content">
            <div class="row">
              <div class="column col-md-3"></div>
              <div class="column col-md">
                <a href="#">Witcher 1</a>
                <a href="#">Witcher 2</a>
                <a href="#">Witcher 3</a>
              </div>
              <div class="column col-md">
                <a href="#">CyberPunk 2077</a>
                <a href="#">Siants Row 1</a>
                <a href="#">Saints Row 2</a>
              </div>
              <div class="column col-md">
              </div>
              <div class="column col-md"></div>
              <div class="column col-md-3"></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item ml-3">
        <div class="dropdown">
          <button class="dropbtn">Ubisoft</button>
          <div class="dropdown-content">
            <div class="row">
              <div class="column col-md-3"></div>
              <div class="column col-md">
                <a href="#">AC Origins</a>
                <a href="#">AC Valhala</a>
                <a href="#">AC Syndicate</a>
              </div>
              <div class="column col-md">
                <a href="#">Division 1</a>
                <a href="#">Division 2</a>
                <a href="#">Rainbow Six</a>
              </div>
              <div class="column col-md">
                <a href="#">Watch Dogs 1</a>
                <a href="#">Watch Dogs 2</a>
                <a href="#">Watch Dogs Legion</a>
              </div>
              <div class="column col-md"></div>
              <div class="column col-md-3"></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item ml-3">
        <div class="dropdown">
          <button class="dropbtn">Steam</button>
          <div class="dropdown-content">
            <div class="row">
              <div class="column col-md-3"></div>
              <div class="column col-md">
                <a href="#">The Sims 1</a>
                <a href="#">The Sims 2</a>
                <a href="#">The Sims 3</a>
              </div>
              <div class="column col-md">
                <a href="#">Apex Legends</a>
                <a href="#">Command & Conquer</a>
                <a href="#">FIFA 20</a>
              </div>
              <div class="column col-md">
                <a href="#">BattleField 5</a>
                <a href="#">BattleField 6</a>
                <a href="#">BattleField 7</a>
              </div>
              <div class="column col-md"></div>
              <div class="column col-md-3"></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item ml-3">
        <div class="dropdown">
          <button class="dropbtn">Epic</button>
          <div class="dropdown-content">
            <div class="row">
              <div class="column col-md-3"></div>
              <div class="column col-md">
                <a href="#">Witcher 1</a>
                <a href="#">Witcher 2</a>
                <a href="#">Witcher 3</a>
              </div>
              <div class="column col-md">
                <a href="#">CyberPunk 2077</a>
                <a href="#">Siants Row 1</a>
                <a href="#">Saints Row 2</a>
              </div>
              <div class="column col-md">
              </div>
              <div class="column col-md"></div>
              <div class="column col-md-3"></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item ml-3">
        <div class="dropdown">
          <button class="dropbtn">Uplay</button>
          <div class="dropdown-content">
            <div class="row">
              <div class="column col-md-3"></div>
              <div class="column col-md">
                <a href="#">AC Origins</a>
                <a href="#">AC Valhala</a>
                <a href="#">AC Syndicate</a>
              </div>
              <div class="column col-md">
                <a href="#">Division 1</a>
                <a href="#">Division 2</a>
                <a href="#">Rainbow Six</a>
              </div>
              <div class="column col-md">
                <a href="#">Watch Dogs 1</a>
                <a href="#">Watch Dogs 2</a>
                <a href="#">Watch Dogs Legion</a>
              </div>
              <div class="column col-md"></div>
              <div class="column col-md-3"></div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" href="#">CATEGORIES</a>
      </li>
    </ul>
    </nav>